*{
 	margin: 0px;
 	padding: 0px;
    }
    h1{
 	font: bold 20px tahoma;
    }
    h2{
 	font: bold 14px tahoma;
    }
    header, nav, section, aside, footer, hgroup, main, article {
 	display: block;
    }
    body{
 	width: 100%;
 	display: -webkit-box;
 	-webkit-box-pack: center;
    }
    #wrapper{
 	max-width: 1000px;
 	margin: 0px 0;
 	display: -webkit-box;
 	-webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    overflow: auto;
    }
    #top_header{
     overflow: auto;
 	 padding: 15px;
 	}
 	#top_menu{
 	 background: green;
 	 color: white;
 	}
 	#top_menu li{
 	 display: inline-block;
 	 padding: 5px;
 	 list-style: none;
 	 font: bold 14px tahoma;  
 	}
    #new_div{
    	display: -webkit-box
    	-webkit-box-orient: horizontal;
    }
    
    #left_side{
    	border: 1px solid green;
    	width: 220px;
    	padding: 20px 0;
    	margin: 30px;
    	background:  lightgreen;
        float: left;
        -webkit-box-flex: 1;
    }
    #fooo{
    	text-align: center;
    	padding: 20px;
    	border-top: 2px solid green;
    }
    #top_link{
    	float: right;
    	margin-top: -15px;
    	overflow: auto;
    }
    #top_link li{
    	display: inline-block;
    	color: green;
    	list-style: none;
    	font: 14px tahoma;
    }
    #top_serch{
          
    }
    #top_serch input{
    	width: 700px;
    	border-radius: 5px;
    	border: 2px solid green;
    	height: 35px;
    	padding: 5px 5px;
    	overflow: auto;
    	margin-left: 20px;
		-webkit-box-flex: 1;
    }
    #top_serch button{
    	color: white;
    	background: green;
    	height: 35px;
    	width: 50px;
    	border-radius: 7px;
    	overflow: auto;
    }
	 